/* Primary styles */
$primary-color: #a7fbc3;
$primary-color-02: #94dcac;
$primary-color-03: white;

$primary-shadow: 0.3vw 0.3vw 0.5vw 0.01vw rgba(0, 0, 0, 0.284);

/* Hover styles */
$hover-color: #6ca37f;

/* Active styles */
$active-color: #6ca37f;
$active-shadow: inset 0.2vw -0vw 0.5vw 0.1vw rgba(0, 0, 0, 0.381);

/* Responsive styles */

$res-primary-shadow: 0vw 0vw 2vw 0.01vw #6ca37faf;
