@import "variables";

.contact_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1.5vw;
  width: 100%;
  justify-content: center;

  .ContactButton {
    height: 16vw;
    border-radius: 0.5vw;
    width: 17vw;
    padding: 1vw;
    display: grid;
    background-color: $primary-color;
    box-shadow: $primary-shadow;
  }

  .ContactButton:hover {
    background-color: $hover-color;
  }

  .ContactButton:active {
    background-color: $active-color;
    box-shadow: $active-shadow;
  }

  .ContactButton {
    a {
      width: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      img {
        width: 60%;
      }
    }
  }
}
