@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:wght@700&display=swap");
@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("../Segoe_UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Italic"), url("../Segoe_UI_Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("../Segoe_UI_Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold Italic"),
    url("../Segoe_UI_Bold_Italic.woff") format("woff");
}
body {
  width: 98vw;
}

.App {
}

header {
  width: 100%;
  height: fit-content;
  display: block;
  position: absolute;
  z-index: 1;

  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.319); */
}

main {
  width: 100%;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  padding: 9vw 6vw 6vw 6vw;
}

footer {
  width: 100%;
  height: fit-content;
  background-color: darkgray;
}

h1 {
  font-family: "Segoe UI Bold";
}

p {
  font-family: "Segoe UI Regular";
}

a {
  font-family: "Segoe UI Bold";
}

ul {
  list-style: none;
}
