@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:wght@700&display=swap");
@import "variables";

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("../Segoe_UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Italic"), url("../Segoe_UI_Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("../Segoe_UI_Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold Italic"),
    url("../Segoe_UI_Bold_Italic.woff") format("woff");
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: $primary-bg-color;
  overflow-x: hidden;
}

.App {
}

header {
  width: 100%;
  height: fit-content;
  display: block;
  position: absolute;
  z-index: 1;
}

main {
  width: 100%;
  height: fit-content;
  background: $primary-color-03;
  padding: 9vw 6vw 6vw 6vw;
}

footer {
  width: 98vw;
  height: 10vw;
  background: $primary-color-02;
}

h1 {
  font-family: "Segoe UI Bold";
}

p {
  font-family: "Segoe UI Regular";
}

a {
  font-family: "Segoe UI Bold";
}

ul {
  list-style: none;
}
