.project_wrapper {
  box-shadow: 0.2vw 0vw 0.5vw 0.01vw rgba(0, 0, 0, 0.284);

  background-color: rgba(255, 255, 255, 0.981);
  border-radius: 0.6vw;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 35vw;
}
