.SearchFilterSort {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 2vw;
  gap: 2vw;

  .search_wrapper_01 {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 2vw;
    width: 100%;

    .search_input {
      all: unset;
      width: 100%;
    }
    img {
      width: 5vw;
    }
  }
}
