.SearchFilterSort {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 2vw;
  gap: 2vw;
}

.SearchFilterSort > div {
}

.SearchFilterSort .search_wrapper_01 {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 2vw;
  width: 100%;
}

.SearchFilterSort .search_wrapper_01 .search_input {
  all: unset;
  width: 100%;
}

.SearchFilterSort .search_wrapper_01 img {
  width: 5vw;
}
.SearchFilterSort .sort_filter_wrapper_01 .sort_wrapper_01 {
}
.SearchFilterSort .sort_filter_wrapper_01 .filter_wrapper_01 {
}
