@import "variables";

.SingleProject {
  width: 100%;
  height: fit-content;
  background-color: $primary-color-03;
  display: grid;
  gap: 2vw;

  .single_project_section_01 {
    display: flex;
    margin: 0 auto;
    width: 100%;
    gap: 2vw;
    background-color: $primary-color-03;
    height: fit-content;

    div {
      box-shadow: $active-shadow;
      width: 100%;
      background-color: $primary-color-03;
      border-radius: 0.6vw;
      display: grid;
      justify-content: center;
      align-content: center;
      height: auto;
    }

    .icon_wrapper_01 {
      width: 40vw;
      background-color: $primary-color;

      img {
        width: 12vw;
      }
    }
    .text_wrapper_01 {
      display: flex;
      text-align: left;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1vw;
      padding: 2vw;

      .repo_link_wrapper {
        display: flex;
        gap: 1vw;

        p {
          display: flex;
          gap: 1vw;
        }
        img {
          height: 2vw;
        }
      }
    }
  }
  .single_project_stack_section {
    box-shadow: $active-shadow;
    width: 100%;
    background-color: $primary-color;
    border-radius: 0.6vw;
    height: fit-content;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 1.5vw;

    .single_project_stack_section_wrapper {
      width: max-content;
      border-radius: 0.6vw;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      gap: 5vw;
    }

    .single_project_coding_language_wrapper {
      width: fit-content;

      img {
        height: 3vw;
      }
    }
  }

  .single_project_section_02 {
    box-shadow: $active-shadow;
    width: 100%;
    border-radius: 0.6vw;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    padding: 2vw;
    justify-content: center;

    a {
      width: 100%;

      .video_wrapper {
        width: fit-content;
        height: max-content;
        width: 100%;
        height: 18vw;
        background-color: $primary-color;
        text-align: center;
        display: grid;
        justify-content: center;
        align-content: center;
        box-shadow: $primary-shadow;
        border-radius: 0.6vw;

        img {
          height: 10vw;
        }
      }

      .video_wrapper:hover {
        background-color: $hover-color;
      }

      .video_wrapper:active {
        background-color: $hover-color;
        box-shadow: $active-shadow;
      }
    }
  }

  .single_project_section_03 {
    box-shadow: $active-shadow;
    width: 100%;
    background-color: $primary-color-03;
    border-radius: 0.6vw;
    height: fit-content;
  }
}
